@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #2d3748;
  background-color: #f8f9fa;
  scrollbar-width: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
